<ion-content>
  <div id="container">
    <img id="logo" src="http://digitbcn.com/WebAppRipoll/logo_calafell.png">
    <ion-button id="button" expand="block" shape="round" fill="outline" color ="danger" href="/audioguia">CATALÀ</ion-button>
    <ion-button id="button" expand="block" shape="round" fill="outline" color ="danger">ESPAÑOL</ion-button>
    <ion-button id="button" expand="block" shape="round" fill="outline" color ="danger">ENGLISH</ion-button>
    <ion-button id="button" expand="block" shape="round" fill="outline" color ="danger">FRANÇAIS</ion-button>
  </div>
</ion-content>