<ion-content [fullscreen]="true">
  <div id="container">
    <div id="img-card-qr">
      <img src="http://digitbcn.com/WebAppRipoll/Card.png">
      <ion-button style="margin: 1rem auto;" expand="block" shape="round" fill="outline" color ="danger">Escanejar codi QR</ion-button>
      <h1> o bé </h1>
      <h6> Introduir el codi de la targeta </h6>
      <ion-item  color="danger">
        <ion-label position="floating">Codi</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button style="margin: 1rem auto;" expand="block" shape="round" color ="danger" href="/languages">Entrar</ion-button>
    </div> 
   </div>
</ion-content>