#container {
  text-align: center;
  display: block;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('http://digitbcn.com/WebAppRipoll/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#img-card-qr {
  display: block;
  width: 35vh;
  margin: 0 auto;
  padding: 3.5em 0;
}